<!DOCTYPE html>
<html>
  <head><title>Welcome to Mined Minds</title></head>
  <body>
  <body bgcolor="#0066CC">
  <A href="http://minedminds.org" target="_new">
<center><img src="banner2.jpg"></center>
</A> 
<style>

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #696969;
}
li {
    float: left;
}
li a {
	border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover:not(.active) {
    background-color: #008B8B;
}
.active {
background-color:#0000FF;
}
</style>  
  <ul>
  <li><a class="active" href="./">Home</a></li>
  <li><a href="/rules">Rules</a></li>
  <li><a href="/playgame">Play Game</a></li>
  <li><a href="/minedminds">Mined Minds</a></li>
</ul>
  
  
  
  
  
  <%=  yield %>
  </body>
  
  <footer>
  <p align="center"><font face="consolas" size="2">This Page was created by Mined Minds</font><br>
<font face="consolas, consolas" size="2"><a href="mailto:info@minedminds.org">Contact Us!</a></a></font></p>
</footer>
</html>