<!DOCTYPE html>
<html>


<br>
<br>




</head>


<br>
<br>
<A HREF="https://en.wikipedia.org/wiki/Tic-tac-toe#Strategy"><center><IMG SRC="rules2.png" ALT="Rules"></center></A>

<HTML>


<body bgcolor="blue" text="980000">

<marquee><b><font face="consolas" size="8">To Learn more about The Rules of Tic Tac Toe Click on the Rule Book Above!!</font></b></marquee>

</body>
</HTML>

</script>

</body>