<!DOCTYPE html>
<html>

<body bgcolor="blue" text="980000">
<A HREF="https://en.wikipedia.org/wiki/Tic-tac-toe#Strategy"><center><IMG SRC="rules2.png" ALT="Rules"width=300 height=375 class ="box"></center></A>
	
</body>
</HTML>



